@tailwind base;
@tailwind components;
@tailwind utilities;

.about-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    padding-bottom: 60px; /* Add space before footer */
}
body{
    padding: 2px;
}